


.custom-bgcolor {
    background: linear-gradient(45deg, #181934, #2a2b5a);
  }
  
  
  .title {
    color: #f1bf0b;
    font-size: 1.5rem; 
    font-weight: bold; 
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; 
  }
  
  
  .title:hover {
    color: #ffffff; 
    transform: scale(1.1); 
    text-shadow: 0 0 10px rgba(241, 191, 11, 0.7); 
  }
  
  
  .nav-link {
    color: #f1bf0b;
    transition: color 0.3s ease-in-out;
  }
  
  
  .nav-link:hover {
    color: #ffffff;
  }
  .navbar-toggler {
    border: none; 
    background-color: #f1bf0b; 
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .navbar-toggler:hover {
    background-color: #ffffff; 
    transform: scale(1.1); 
  }

 
  .navbar-toggler-icon {
    background-color: #ffffff; 
    border-radius: 3px; 
  }
  
  
 
  .btn-primary {
    background-color: #f1bf0b;
    border: none; 
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  
  .btn-primary:hover {
    background-color: #ffffff;
    color: #181934;
    transform: translateY(-2px); 
  }
  
  
  .badge {
    transition: transform 0.3s ease-in-out;
  }
  
   
  .btn-primary:hover .badge {
    transform: scale(1.1); 
  }
  